# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.build
.nyc_output
coverage

out-logger.json
.DS_Store
.env
.webpack

db/

serverless-preview.txt
yarn-error.log

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.lock
.vscode
*-lock.json